<template>
  <v-container>
    <div id="home-container">
      <h1 id="welcome-text">Welcome To Magic Tools</h1>
      </div>
  </v-container>
</template>

<script>
export default {
  data: () => ({})
};
</script>

<style>
.container {
  margin: 0;
}

#home-container {
  width: 100vw;
  height: 100vh;
  height: auto;
  background-image: url("http://res.cloudinary.com/daiwiwdov/image/upload/v1542745584/wayne-low-477105-unsplash_1_jdut4d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#welcome-text {
  color: black;
  text-align: center;
}
</style>
