<template>
  <v-app>
    <v-toolbar>
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>Magic Tools</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat to="/">Home</v-btn>
      <v-btn flat to="/game">Game</v-btn>
      <v-btn flat to="/profile">Profile</v-btn>
      <v-btn flat to="/leaderboard">Leaderboard</v-btn>

    </v-toolbar-items>
  </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer class="pa-3">
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>

  </v-app>
</template>

<script>
import Home from './components/Home'
import Game from './components/Game'
import Profile from './components/Profile'
import Leaderboard from './components/Leaderboard'


export default {
  name: 'App',
  components: {
    Home,
    Game,
    Profile,
    Leaderboard
  },
  data () {
    return {
      //
    }
  }
}
</script>
